<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.soft1851.smart.campus.mapper.TowerAndUnitMapper">
    <!--查询楼栋的所有单元-->
    <select id="getAllUnitByTowerId" resultType="map">
        SELECT tu.name, tu.unit_id FROM tower_and_unit tau
        LEFT JOIN tower_unit tu
        ON tau.unit_id = tu.unit_id
        WHERE tau.tower_id = #{towerId}
    </select>

</mapper>
